<!-- <h2 mat-dialog-title>
  {{ isCreateMode() ? 'Registrar Mascota' : 'Editar Mascota' }}
</h2>

<mat-dialog-content [formGroup]="form" style="padding-top: 16px;">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="id_tipo">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipo">
        {{ tipo.nombre_tipo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Raza</mat-label>
    <mat-select formControlName="id_raza">
      <mat-option *ngFor="let raza of razas" [value]="raza.id_raza">
        {{ raza.nombre_raza }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Color</mat-label>
    <mat-select formControlName="id_color">
      <mat-option *ngFor="let color of colores" [value]="color.id_color">
        {{ color.nombre_color }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Casa</mat-label>
    <mat-select formControlName="id_casa" [disabled]="!isOwner">
      <mat-option *ngFor="let casa of casas" [value]="casa.id_casa">
        {{ casa.numero_casa }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion"></textarea>
  </mat-form-field>

  <div style="margin: 16px 0;">
    <label for="foto">Foto (opcional):</label><br />
    <input type="file" id="foto" (change)="onImageChange($event)" />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="form.invalid || !isOwner"
  >
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions> -->








<h2 mat-dialog-title>
  {{ isCreateMode() ? 'Registrar Mascota' : 'Editar Mascota' }}
</h2>

<mat-dialog-content [formGroup]="form" style="padding-top: 16px;">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="id_tipo">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipo">
        {{ tipo.nombre_tipo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Raza</mat-label>
    <mat-select formControlName="id_raza">
      <mat-option *ngFor="let raza of razas" [value]="raza.id_raza">
        {{ raza.nombre_raza }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Color</mat-label>
    <mat-select formControlName="id_color">
      <mat-option *ngFor="let color of colores" [value]="color.id_color">
        {{ color.nombre_color }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Casa</mat-label>
    <mat-select formControlName="id_casa" [disabled]="!isOwner">
      <mat-option *ngFor="let casa of casasFiltradas" [value]="casa.id_casa">
        {{ casa.numero_casa }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<!-- 
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion"></textarea>
  </mat-form-field> -->

  <div style="margin: 16px 0;">
    <label for="foto">Foto (opcional):</label><br />
    <input type="file" id="foto" (change)="onImageChange($event)" />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" *ngIf="isUpdateMode() && isOwner" (click)="eliminar()">Eliminar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="form.invalid || !isOwner"
  >
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
