<h2 mat-dialog-title>{{ isCreateMode() ? 'Crear Proveedor' : 'Editar Proveedor' }}</h2>

<mat-dialog-content [formGroup]="form">
  <div fxLayout="column" fxLayoutGap="16px">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de Servicio</mat-label>
      <input matInput formControlName="tipo_servicio">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" type="tel">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correo" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>URL Imagen</mat-label>
      <input matInput formControlName="url_imagen">
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
</mat-dialog-actions>
