<h2 mat-dialog-title >{{ isCreateMode() ? 'Crear Proveedor' : 'Editar Proveedor' }}</h2>

<mat-dialog-content [formGroup]="form" style="padding-top: 16px;">
  <div fxLayout="column" fxLayoutGap="16px">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre_proveedor">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de Servicio</mat-label>
      <mat-select formControlName="id_tipo_servicio">
        <mat-option [value]="null">-- Selecciona un tipo --</mat-option>
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipo_servicio">
          {{ tipo.nombre_tipo_servicio }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="correo" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Website</mat-label>
      <input matInput formControlName="website">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
</mat-dialog-actions>