


<fury-page-layout mode="card">
  <fury-page-layout-header>
    
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Servicios']" current="Proveedores"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="proveedores" (filterChange)="onFilterChange($event)">
      <div class="actions">
        <!-- ✅ Esta línea ya llama correctamente a createProveedor() -->
        <button class="create" (click)="createProveedor()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div style="
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        gap: 20px;
        padding: 10px;
        justify-items: center;">
        
        <mat-card *ngFor="let p of currentPageData" style="width: 310px; border-radius: 12px; padding: 10px;margin-top: 15px;">
          <mat-card-content>
            <mat-icon [style.fontSize.px]="32" style="color: #3f51b5;">{{ getTipoIcon(p.nombre_tipo_servicio) }}</mat-icon>
            <h3 style="margin: 5px 0;">{{ p.nombre_proveedor }}</h3>
            <p style="margin: 0; font-weight: bold; color: gray;">{{ p.nombre_tipo_servicio }}</p>
            <p style="margin-top: 10px;">{{ p.descripcion }}</p>

            <div style="margin-top: 10px; display: flex; align-items: center;">
              <mat-icon
                style="cursor:pointer; margin-right:5px;"
                [style.color]="p.ya_recomendado_por_user_actual ? 'red' : 'gray'"
                (click)="toggleRecomendacion(p)"
                (mouseenter)="loadRecomendadores(p.id_proveedor)"
                [matTooltip]="getRecomendadoresTooltipHTML(p.id_proveedor)"
                matTooltipPosition="above"
                [matTooltipClass]="'custom-tooltip'"
              >
                favorite
              </mat-icon>

              <span style="font-weight: bold;">
                {{ p.total_recomendaciones }} recomendaciones
              </span>
            </div>

            <hr style="margin: 10px 0;" />

            <p *ngIf="p.telefono"><strong>Tel:</strong> {{ p.telefono }}</p>
            <p *ngIf="p.correo"><strong>Email:</strong> {{ p.correo }}</p>
            <!-- <p *ngIf="p.website"><strong>Website:</strong>
              <a [href]="p.website" target="_blank">{{ p.website }}</a>
            </p> -->

            <div style="margin-top: 10px;">
              <a href="javascript:void(0);" (click)="updateProveedor(p)">Editar</a> |
              <a href="javascript:void(0);" (click)="deleteProveedor(p)" style="color: red;">Eliminar</a>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </fury-list>
  </fury-page-layout-content>
</fury-page-layout>
