
<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [crumbs]="['Comunidad']" current="Mascotas"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="mascotas" (filterChange)="onFilterChange($event)">
      <div class="actions">
        <button class="create" (click)="createMascota()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(310px, 1fr)); gap: 20px; padding: 10px; justify-items: center;">





<mat-card *ngFor="let mascota of currentPageData" style="width: 310px; border-radius: 12px; margin-top: 15px; overflow: hidden; padding: 0;">



  <mat-card-content style="padding: 16px;">
  <div style="display: flex; align-items: flex-start; gap: 16px;">
    <div style="flex: 1;">
      <mat-icon [style.fontSize.px]="32" style="color: #3f51b5;">pets</mat-icon>
      <h3 style="margin: 5px 0;">{{ mascota.nombre }}</h3>
      <p style="margin: 0; font-weight: bold; color: gray;">{{ mascota.tipo }}</p>
      <p><strong>Raza:</strong> {{ mascota.raza }}</p>
      <p><strong>Color:</strong> {{ mascota.color }}</p>
    </div>

    <div>


<div>
  <img
    *ngIf="!mascota.hasImageError"
   [src]="getFotoUrl(mascota.id_mascota)"

    (error)="mascota.hasImageError = true"
    width="170"
    height="170"
    style="border-radius: 5px; object-fit: cover;"
  />
  <img
    *ngIf="mascota.hasImageError"
    src="assets/default-mascota.png"
    width="170"
    height="170"
    style="border-radius: 5px; object-fit: cover;"
  />
</div>


    </div>
  </div>

  <hr style="margin: 10px 0;" />

  <p><strong>Dueño:</strong> {{ mascota.duenio }}</p>
  <p><strong>Casa:</strong> {{ mascota.casa }}</p>

  <!-- <div style="margin-top: 10px;">
    <a href="javascript:void(0);" (click)="updateMascota(mascota)">Editar</a> |
    <a href="javascript:void(0);" (click)="deleteMascota(mascota)" style="color: red;">Eliminar</a>
  </div> -->


    <div *ngIf="mascota.isOwner" style="margin-top: 10px;">
    <a href="javascript:void(0);" (click)="updateMascota(mascota)">Editar</a> |
    <a href="javascript:void(0);" (click)="deleteMascota(mascota)" style="color: red;">Eliminar</a>
  </div>

</mat-card-content>



</mat-card>



      </div>

      <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </fury-list>
  </fury-page-layout-content>
</fury-page-layout> 





















