<h2 mat-dialog-title>{{ isCreateMode() ? 'Crear Usuario' : 'Editar Usuario' }}</h2>

<mat-dialog-content [formGroup]="form">
  <div fxLayout="column" fxLayoutGap="16px">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Nick Name</mat-label>
      <input matInput formControlName="nick_name">
    </mat-form-field> -->


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ isCreateMode() ? 'Username' : 'Nick Name' }}</mat-label>
      <input matInput [formControlName]="isCreateMode() ? 'username' : 'nick_name'" required />
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="id_rol">
        <mat-option [value]="null">-- Selecciona un rol --</mat-option>
        <mat-option *ngFor="let rol of roles" [value]="rol.id_rol">
          {{ rol.name_rol }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Casa</mat-label>
      <mat-select formControlName="id_casa">
        <mat-option [value]="null">-- Selecciona una casa --</mat-option>
        <mat-option *ngFor="let casa of casas" [value]="casa.id_casa">
          {{ casa.numero_casa }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
</mat-dialog-actions>
