<h2 mat-dialog-title>{{ isCreateMode() ? 'Crear Usuario' : 'Editar Usuario' }}</h2>

<mat-dialog-content [formGroup]="form" style="padding-top: 16px;">
  <div fxLayout="column" fxLayoutGap="16px">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.get('email')?.invalid">Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.invalid">Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nick Name</mat-label>
      <input matInput formControlName="nickname" />
    </mat-form-field>
<!-- 
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="id_role">
        <mat-option [value]="null">-- Selecciona un rol --</mat-option>
        <mat-option *ngFor="let rol of roles" [value]="rol.id_role">
          {{ rol.nombre_rol }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('id_role')?.invalid">Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Casas</mat-label>
      <mat-select formControlName="id_casas" multiple>
        <mat-option *ngFor="let casa of casas" [value]="casa.id_casa">
          {{ casa.numero_casa }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('id_casas')?.invalid">Selecciona al menos una casa</mat-error>
    </mat-form-field> -->




<mat-form-field appearance="outline">
  <mat-label>Rol*</mat-label>
  <mat-select formControlName="id_role">
    <mat-option [value]="null">-- Selecciona un rol --</mat-option>
    <mat-option *ngFor="let rol of roles" [value]="rol.id_role">
      {{ rol.nombre_rol }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Casas*</mat-label>
  <mat-select formControlName="id_casas" multiple>
    <mat-option *ngFor="let casa of casas" [value]="casa.id_casa">
      {{ casa.numero_casa }}
    </mat-option>
  </mat-select>
</mat-form-field>



  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ isCreateMode() ? 'Crear' : 'Guardar' }}
  </button>
</mat-dialog-actions>

