<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="Roles"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="roles" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div class="actions">
        <button class="create" (click)="createRol()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <table [dataSource]="dataSource" mat-table matSort>

        <ng-container matColumnDef="name_rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Rol</th>
          <td mat-cell *matCellDef="let row">{{ row.name_rol }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="id_fraccionamiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fraccionamiento</th>
          <td mat-cell *matCellDef="let row">{{ row.id_fraccionamiento }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="updateRol(row)">
                <span>Modificar</span>
              </button>
              <button mat-menu-item (click)="deleteRol(row)">
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleColumns;" (click)="updateRol(row)" class="clickable"></tr>
      </table>

      <mat-paginator class="paginator"  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </fury-list>
  </fury-page-layout-content>
</fury-page-layout>
