<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="Usuarios"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="usuarios" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div *ngIf="hasPermission('CREATUSRMET01')" class="actions">
        <button class="create" (click)="createUsuario()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <table [dataSource]="dataSource" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            <img src="assets/img/avatars/{{ getAvatarName(row) }}.jpg">
          </td>
        </ng-container>

        <!-- fullName Column -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container>


        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="actions-cell" mat-cell >
            <button *ngIf="hasPermission('DELTUSRMET01') || hasPermission('UPDTUSRMET01')" type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                <ng-container *ngIf="hasPermission('UPDTUSRMET01')">
                  <button (click)="updateUsuario(row)" mat-menu-item>
                    <span>Modify</span>
                  </button>
                </ng-container>

                <ng-container *ngIf="hasPermission('DELTUSRMET01')">
                  <button (click)="deleteUsuario(row)" mat-menu-item>
                    <span>Delete</span>
                  </button>
                </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="hasPermission('UPDTUSRMET01') && updateUsuario(row)"
            *matRowDef="let row; columns: visibleColumns;"
            class="clickable route-animations-elements"
            mat-row></tr>
      </table>

      <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>

    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>
